@import url('https://fonts.googleapis.com/css?family=Hind');


*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: #dee2e6;
	background-color: #212529;
	font-family: 'Hind', sans-serif;
	text-transform: uppercase;
}

.container {
	position: relative;
	line-height: 0;
	padding: 0 !important;
}
.btn-close{
	display: none;
}
.modal-title{
	margin: 0 auto;
	color:#212529
}

.score {
	position: absolute;
	top: 10px;
	line-height: 1;
}

/* .score span {
	font-size: 3.25rem;
} */

.current-score {
	left: 10px;
}

.high-score {
	text-align: right;
	right: 10px;
}

.trigger {
  appearance: none;
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 10px;
  border: 0;
	border-radius: 50%;
  color: inherit;
	background-color: #e64980;
	text-align: center;
	line-height: 80px;
	font-size: 1.25rem;
  text-transform: inherit;
	cursor: pointer;
	user-select: none;
  outline: none;
}

.left-trigger {
	left: 10px;
}

.right-trigger {
	right: 60px;
}

canvas {
	overflow:hidden;
	border-radius: 50px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
	.container { transform: scale(0.25); }
	.container2 { transform: scale(0.25); }
}
@media (min-height: 400px) {
	.container { transform: scale(0.5); }
	.container2 { transform: scale(0.5); }
	/* .container2Niz{
		bottom: 20% ;
	} */
}
@media (height: 414px) {
	.container { transform: scale(0.5); }
	.container2 { transform: scale(0.5); }
	/* .container2Niz{
		bottom: 90px ;
	} */
}
@media (min-height: 600px) {
	.container { transform: scale(0.55); }
	.container2 { transform: scale(0.55); }
	/* .container2Niz{
		bottom: 90px ;
	} */
}
@media (min-height: 800px) {
	.container { transform: scale(0.7); }
	.container2 { transform: scale(0.7); }
	/* .container2Niz{
		bottom: 70px;
	} */
}

@media (min-height: 1200px) {
	.container { transform: scale(1); }
	.container2 { transform: scale(1); }
}

.vkui--sizeX-none{
	background-color:#ffffff;
}
.parenContainer{
	width: 100%;
}
.container2Niz{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* display: flex;
	justify-content: space-evenly; */
}

.container2{
	position: fixed;
	left: 40%;
	top: 0;
}
.vkuiAppRoot {
	/* margin-left: -250px; */
	width: 500px;
}
.vkuiView__panel-in{
	display: flex;
	flex-wrap: wrap;
}
.spin{
	display: flex;
	justify-content: center;
	/* margin-top: 100%; */
}
.ochki,.bestOchki{
	font-size: 1.5vw;
}
.current-score1,.high-score1{
	font-size: 2.5vw;
}
.parentZagr{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100%;
}

.zero{
	opacity: 0;
	/* display: none; */
}

@media screen and (max-width:600px){
	.ochki,.bestOchki{
		font-size: 4vw;
	}
	.current-score1,.high-score1{
		font-size: 4vw ;
	}
}